<DOCTYPE html  "-//W3C//DTD  1.0 //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>resources</title>
  </head>
  <body>
    <h1>Api resources</h1>
    <ul>
      <% for @resource in @resources %>
      <li><%= @resource %></li>
      <% end %>
    </ul>
  </body>
</html>
